@import "../fonts/font";
@import "defaults/ui-element";
@import 'defaults/variables';

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: auto;
    height: 110vh;
    background: $background-light;;
    /*Light*/
    color: $primary-light;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

#entryHolder {

}

#date {
    font-size: 16px;
    color: $text-primary;

}

.root-styles-for-elements {
    border-radius: 5px;
    padding: 7px;
}

#temp {
    font-size: 16px;
    color: $text-primary;
}

#content {
    font-size: 16px;
    color: $text-primary;

}


.title {
    color: $text-primary;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
    margin-bottom: 5px;
    color: $text-primary;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    /*Primary*/
    /*background: #4797ff;*/
    background: $element-background-light;
    color:$text-primary;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    /*Dark*/
    background:$button-primary;
    color: $button-text-primary;
    font-size: 26px;
    font-family: Roboto, sans-serif;
    border: none;
    box-shadow: 2px 4px 7px #f0f0f0;
}

h1 {
    font-size: 36px;
}
textarea {
    background: $element-background-light;
    color: $text-primary;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    box-shadow: 2px 4px 7px #f0f0f0;

}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: whitesmoke;
    font-family: Roboto, sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
    font-family: Roboto, sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
    font-family: Roboto, sans-serif;

} 