@import 'defaults/variables';
@import "../fonts/font";
.top-bar-top {
    background-color: $primary-dark;
    height: 20px;
    padding-top: 10px;
    min-width: 100vw;
    box-shadow: 2px 4px 100px #444;
}
.top-bar-second {
    background-color: $primary;
    height: 60px;
    min-width: 100vw;
    margin-top: -100px;
    box-shadow: 2px 4px 25px #444;
    opacity:0.999
}
.headline {
    font-size: 30px;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: Roboto, sans-serif;
}
#top-bar-date-time {
    font-family: Roboto, sans-serif;
    text-align: right;
    padding-right: 10px;
    color: $button-text-primary;
    z-index: 99;
    font-size: 12px;
    margin-top: -2px;

}