
.m-design {
    box-shadow: 2px 4px 7px #444;
}

.holder {
    margin-top: 10px;
    padding: 5px;
}
.default-element-spacing {
    margin-left: 20px;
    margin-top: 20px;
}

.entry {
    background: rgba(59, 74, 107, .4);
}
