
$element-background-light: #f0f0f0;
$background-light: whitesmoke;
$primary: #4797ff;
$primary-dark: #006acb;
$primary-light: #85c7ff;
$text-primary: #000;
$button-primary: $primary-dark;
$button-text-primary: #fff;